site_name: Denotational Semantics in Agda
site_url: https://pdmosses.github.io/agda-material/
repo_name: pdmosses/agda-material
repo_url: https://github.com/pdmosses/agda-material

use_directory_urls: false

nav:
  - index.md
  - Example module:
    - md/Test.md
  - Nested modules:
    - md/Test.All.md
    - md/Test.Sub.Base.md

not_in_nav:
  html/*.html
  md/*.md

theme:
  name: material
  palette: 
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/lightbulb 
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/lightbulb-outline
        name: Switch to light mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/lightbulb-auto
        name: Switch to light mode

  features:
    - content.code.copy
    - navigation.expand
    - navigation.indexes
    - navigation.instant
    - navigation.instant.progress
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - search.suggest
    - search.highlight

extra_css:
  - stylesheets/Agda.css
  - stylesheets/Agda-material.css
# KaTeX:
  - https://unpkg.com/katex@0/dist/katex.min.css

extra_javascript:
# KaTeX:
  - javascripts/katex.js
  - https://unpkg.com/katex@0/dist/katex.min.js
  - https://unpkg.com/katex@0/dist/contrib/auto-render.min.js

markdown_extensions:
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - meta
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.details
  - pymdownx.superfences
  - tables

plugins:
  - search